body {
    background-color: #2D7437;
}

.login-wrapper {
    background-color: #FFFFFF;
    width: 35%;
    margin: 0 auto;
    border-radius: 3px;
}

.login-field {
    border-radius: 3px;
    border: 1px solid;
}

.login-button {
    border-radius: 3px;
}