@import url('https://fonts.googleapis.com/css?family=Lobster');
@import "reset.css";
@import "login.css";
@import "register.css";
@import "profile.css";

body {
    /*background-color: #EDFCED;*/
    font-family: Roboto, sans-serif;
    font-size: 12px;
}

.calendar_container {
    width: 100%;
    padding-top: 50px;
}

.calendar {
    position: relative;
    width: 60%;
    margin: 0 auto;
    font-size: 15px;
    box-shadow: 3px 3px 6px rgba(102, 102, 102, 0.62);
}

.week {
    display: block;
    height: 300px;
    position: relative;
    width: 100%;
    background: #2d7437;
    text-align: center;
    color: white;
    font-size: 30px;
}

.date {
    position: relative;
    top: 60%;
    letter-spacing: 2px;
}

.week .prev {
    position: relative;
    top: 60%;
    float: left;
    padding-left: 10px;
}

.week .next {
    position: relative;
    top: 60%;
    float: right;
    padding-right: 10px;
}

.weekdays {
    margin: 0;
    background-color: #ddd;
    display: flex;
    flex-direction: row;
    position: relative;

}

.day {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 13%;
    text-align: center;
}

.blocks {
    padding: 0;
    /*margin: 0 2.5% 0 2.5%;*/
    z-index: 100;
    display: block;
    width: 100%;
    position: absolute;
    text-align: center;
    border-radius: 6px;
    font-size:12px;
    background: #48ba44;
    color: #1c492b;
}

.plan {
    height: calc(54px * 24);
    border-right: solid 1px gray;
    border-top: solid 1px gray;
}

.name + .plan {
    position: relative;
}

.hours {
    padding: 0;
    margin: 0;
    border-left: solid 1px gray;
}

.hours li {
    list-style-type: none;
    display: block;
    margin: 0 2.5% 0 2.5%;
    width: 95%;
    position: relative;
    padding-bottom: 20px;
    padding-top: 20px;
    text-align: center;
    margin-bottom: 1px;
    font-size: 13px;
    background: #eee;
    color: #1c492b;
    box-shadow: 1px 1px 1px rgba(102, 102, 102, 0.62);
}

.hours li .active {
    padding: 5px;
    background: #48ba44;
    color: white !important
}

.nonlogin-wrapper {
    background-color: #2D7437;
    padding-top: 30px;
    padding-bottom: 30px;
}

.rawbar {
    background-color: #2D7437;
    top: 0;
    height: 80px;
    line-height: 80px;
}

.logo-name {
    float: left;
    color: #EDFCED;
    line-height: 220%;
    font-family: 'Lobster', cursive;
    font-size: 3em;

}

#logo-img {
    height: 60px;
    width: 60px;
    margin: 10px 20px 0 10px;
    float: left;
    border: 0;
    alt: "tekst alternatywny";
    background-image: url("../img/loga.png");
    background-position: center center;
    background-size: cover;
}

.logo {
    position: relative;
}

.calendar_add {
    padding-top: 10px;
}

.add-form {
    margin: 20px 40px;
}

.add-field {
    border-radius: 5px;
    border: 1px solid #CBCBD2;
    display: block;

    width: 100%;
    margin-bottom: 20px;
    padding: 10px 5px;
    box-sizing: border-box;
}

.add-button {
    border-radius: 5px;
    background-color: #48BA44;
    border: 1px solid #CBCBD2;
    width: 50%;
    padding: 10px 5px;
    color: #FFFFFF;
    cursor: pointer;
}

.add-button:hover {
    background-color: #2D7437;
}
